.footer_area{
    background: rgba(53, 60, 53, 1);
    padding: 76px 36px 0 36px;
}

.footer_area .footer_content .row{
    margin-bottom: 82px;
}

.footer_area .footer_content .row.copy{
    font: normal 400 12px/150% var(--inter);
    letter-spacing: 0.005em;
}

.footer_area .footer_content .footer_logo{
   width: 162px;
}

.footer_area .footer_content .footer_title{
    font: normal 600 24px/120% var(--inter);
    color: white;
    margin-bottom: 25px;
}

.footer_area .footer_content p{
    font: normal 400 14px/150% var(--inter);
    color: white;
    letter-spacing: 0.005em;
}

.footer_area .footer_content a.qlinks{
    text-decoration: none;
    padding-bottom: 27px;
    font: normal 400 14px/150% var(--inter);
    color: white;
    letter-spacing: 0.005em;
}

.footer_area .footer_content .kolom3{
    margin-left:-27px;
}

.footer_area .footer_content i.bi{
    size: 110%;
    color: white;
    padding-right: 23px;
}

.footer_area .footer_content .subscribe_box{
    width: 334px;
    border-radius: 32px;
    background-color: white;
}

.footer_area .footer_content .subscribe_box .form_sub{
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    margin: 10px;
}

.footer_area .footer_content .subscribe_box .btn_sub{
    border: none;
    border-radius: 32px;
    outline: none;
    margin: 2px;
    width: 107px;
    background-color: rgba(255, 122, 0, 1);
    font: normal 700 14px/50% var(--inter);
    color: white;
    transition: 0.5s;
}

.footer_area .footer_content .subscribe_box .btn_sub:hover{
    box-shadow: var(--shadow);
}


/* responsive */

@media(max-width: 700px)
{
    .row
    {
        display: flex;
        flex-direction: column;
    }
}